extends layout.pug

block title
    title Turtle Twins

block content
    .container
        .message
        .panel
        .main
            .game
                .grid
                .board

block scripts
    -
        var src = 'components/'
        var tpl = ['grid','panel','board','message'];
        var components = [
        'helpers',
        'grid',
        'sounds',
        'panel',
        'board',
        'level',
        'message',
        'game'
        ];

    //Tpl
    each val in tpl
        script(src = src + val + '/' + val + '.tpl.js')

    // Components
    each val in components
        script(src = src + val + '/' + val + '.js')

    //App
    script(src = 'app.js')
