extends layout.pug

block title
  title Turtle Twins

block content
  .container
    .panel
    .main
      .game
        .grid
        .board

block scripts
  -
    var src = 'components/'
    var tpl = ['panel','board'];
    var components = ['helpers',
                  'grid',
                  'sounds',
                  'panel',
                  'board',
                  'level',
                  'game'];

  //Tpl
  each val in tpl
    script(src = src + val + '/' + val + '.tpl.js')

  // Components
  each val in components
    script(src = src + val + '/' + val + '.js')