.board {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 6px;
  &__target {
    position: absolute;

    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: 15px;

    animation: rotate 8s linear infinite;

    border: 2px dashed #8a8a8a;
    border-radius: 30px;
  }
  &__barrier {
    position: relative;
    top: 180px;
    left: 89px;

    box-sizing: border-box;
    width: 90px;
    height: 90px;

    border: 17px solid #ccc;
    border-top-color: white;
    border-right-color: #f0f0f0;
    border-bottom-color: #adadad;
    border-left-color: #c4c4c4;
    background-color: #dbdbdb;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
